<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_ASSISTANT_ID_FOCUS_AREA</key>
	<string>$(OPENAI_ASSISTANT_ID_FOCUS_AREA)</string>
	<key>OPENAI_ASSISTANT_ID_SECTION</key>
	<string>$(OPENAI_ASSISTANT_ID_SECTION)</string>
	<key>OPENAI_ASSISTANT_ID_SECTION_SUGGESTIONS</key>
	<string>$(OPENAI_ASSISTANT_ID_SECTION_SUGGESTIONS)</string>
	<key>OPENAI_ASSISTANT_ID_SECTION_SUMMARY</key>
	<string>$(OPENAI_ASSISTANT_ID_SECTION_SUMMARY)</string>
	<key>OPENAI_PARTIAL_KEY</key>
	<string>$(OPENAI_PARTIAL_KEY)</string>
	<key>OPENAI_ASSISTANT_ID_ENTRY</key>
	<string>$(OPENAI_ASSISTANT_ID_ENTRY)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
