<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>OPENAI_ASSISTANT_ID_ENTRY</key>
	<string>$(OPENAI_ASSISTANT_ID_ENTRY)</string>
	<key>OPENAI_ASSISTANT_ID_FOCUS_AREA</key>
	<string>$(OPENAI_ASSISTANT_ID_FOCUS_AREA)</string>
	<key>OPENAI_ASSISTANT_ID_FOCUS_AREA_SUGGESTIONS</key>
	<string>$(OPENAI_ASSISTANT_ID_FOCUS_AREA_SUGGESTIONS)</string>
	<key>OPENAI_ASSISTANT_ID_FOCUS_AREA_SUMMARY</key>
	<string>$(OPENAI_ASSISTANT_ID_FOCUS_AREA_SUMMARY)</string>
	<key>OPENAI_ASSISTANT_ID_SECTION_SUMMARY</key>
	<string>$(OPENAI_ASSISTANT_ID_SECTION_SUMMARY)</string>
	<key>OPENAI_ASSISTANT_ID_TOPIC</key>
	<string>$(OPENAI_ASSISTANT_ID_TOPIC)</string>
	<key>OPENAI_ASSISTANT_ID_TOPIC_OVERVIEW</key>
	<string>$(OPENAI_ASSISTANT_ID_TOPIC_OVERVIEW)</string>
	<key>OPENAI_ASSISTANT_ID_TOPIC_SUGGESTIONS</key>
	<string>$(OPENAI_ASSISTANT_ID_TOPIC_SUGGESTIONS)</string>
	<key>OPENAI_ASSISTANT_ID_UNDERSTAND</key>
	<string>$(OPENAI_ASSISTANT_ID_UNDERSTAND)</string>
	<key>OPENAI_PARTIAL_KEY</key>
	<string>$(OPENAI_PARTIAL_KEY)</string>
	<key>STABILITY_PARTIAL_KEY</key>
	<string>$(STABILITY_PARTIAL_KEY)</string>
	<key>OPENAI_ASSISTANT_ID_TOPIC_SUGGESTIONS2</key>
	<string>$(OPENAI_ASSISTANT_ID_TOPIC_SUGGESTIONS2)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>OPENAI_ASSISTANT_ID_NEW_GOAL</key>
	<string>$(OPENAI_ASSISTANT_ID_NEW_GOAL)</string>
	<key>OPENAI_ASSISTANT_ID_SEQUENCE_SUGGESTION</key>
	<string>$(OPENAI_ASSISTANT_ID_SEQUENCE_SUGGESTION)</string>
	<key>OPENAI_ASSISTANT_ID_SEQUENCE_SUMMARY</key>
	<string>$(OPENAI_ASSISTANT_ID_SEQUENCE_SUMMARY)</string>
	<key>OPENAI_ASSISTANT_ID_TOPIC_BREAK</key>
	<string>$(OPENAI_ASSISTANT_ID_TOPIC_BREAK)</string>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
</dict>
</plist>
