//
//  Production.xcconfig
//  Fearless2
//
//  Created by Yue Deng-Wu on 10/2/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

OPENAI_PARTIAL_KEY = v2|795bbcd3|zGOGFK96S9g3NaFd
OPENAI_ASSISTANT_ID_TOPIC = asst_YPYPnIRm6DkS2zPlmhzeqK9w
OPENAI_ASSISTANT_ID_SECTION_SUMMARY = asst_cMiB2cau0ptktp5LEoVacX0H
OPENAI_ASSISTANT_ID_FOCUS_AREA = asst_lKzrxuaHHSm8nUtxGeyZf76w
OPENAI_ASSISTANT_ID_FOCUS_AREA_SUGGESTIONS = asst_gM3P9z5wCMPorqanyES7gC0N
OPENAI_ASSISTANT_ID_FOCUS_AREA_SUMMARY = asst_CRXyYlV8QASWfmbZUwK1EaqX
OPENAI_ASSISTANT_ID_ENTRY = asst_nzpgeCXhnHPMKlvHnyp6O0kC
OPENAI_ASSISTANT_ID_UNDERSTAND = asst_I1CnhXh97cvjPjkK9eWMBt3k

STABILITY_PARTIAL_KEY = v2|da9a51b6|ZBXNs7DGSKWLstwk
